{% load staticfiles %}

<link rel="stylesheet" href="{% static 'prueba/lib/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'prueba/lib/css/keen-dashboards.css' %}">
<link rel="stylesheet" href="{% static 'prueba/lib/css/dc.css' %}">
<link rel="stylesheet" href="{% static 'prueba/css/style.css' %}">

<script src="{% static 'prueba/lib/js/jquery.min.js' %}"></script> 
<!-- <script src="{% static 'prueba/lib/js/bootstrap.min.js' %}"></script> -->
<!--  <script src="{% static 'prueba/lib/js/keen.min.js' %}"></script> -->
<script src="{% static 'prueba/lib/js/meta.js' %}"></script>
<script src="{% static 'prueba/lib/js/holder.js' %}"></script>
<!-- <script src="{% static 'prueba/lib/js/crossfilter.js' %}"></script> -->
<!-- <script src="{% static 'prueba/lib/js/d3.js' %}"></script> -->
<!-- <script src="{% static 'prueba/lib/js/dc.js' %}"></script> -->
<!-- <script src="{% static 'prueba/lib/js/queue.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<!--<script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<!DOCTYPE html>
<html>
<head>
	<title>TP &raquo; TSA</title>

</head>
<body class="application">
<div id="app">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Time series</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time series -->	
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Series
              </div>
              <div class="chart-stage">
                <div id="container"></div>
              </div>
              <div class="chart-notes">
                <seriesselector :opciones="seriestags" v-on:tagchanged="changeSeries"> </seriesselector>
              </div>
            </div>
          </div>
          <!-- Time series-->	

          <!-- Topic selection -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Topics
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x265/white/text:100x265">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <!-- Topic selection -->


          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <div id="chart-ring-year"></div>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <div id="container2"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x60/white/text:100x60">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x60/white/text:100x60">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>

    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>


<!--  <script type="text/javascript" src="{% static 'prueba/js/graphs.js' %}"></script> -->

<script type="text/javascript" src="{% static 'prueba/js/hcharts.js' %}"> </script>

</div>
</body>
</html>