/*$dropdown-item-hover-background-color: #209cee;
$dropdown-item-hover-color: #000000;


$dropdown-content-background-color: #375a7f;
$dropdown-item-color: #fff; 


$dropdown-item-active-background-color: #209cee; 
$dropdown-item-active-color: #000000; 
*/