$grey-lighter: #FDF6E3;
$grey-light:   #eee8d5;
$grey:         #839496;
$grey-alt:     #586e75;
$grey-dark:    #073642;
$grey-darker:  #002B36;
$black-bis: rgb(18, 18, 18);

$orange: 		#cb4b16;
$yellow: 		#b58900;
$green: 		#859900;
$cyan:			#2aa198;
$blue: 			#268bd2;
$purple: 		#6c71c4;
$red:			#d33682;

$primary: $cyan !default;
$warning: $orange;
$info: $blue;
$yellow-invert: #fff;
$light: $grey-lighter;

$dark: darken($grey-dark, 1.5);



$input-placeholder-color: $grey-alt;

$tag-background-color: transparent;

$datepicker-item-color:	$grey-light;
$datepicker-item-disabled-color: $grey;
$datepicker-item-hover-color: $grey-light;
$datepicker-item-hover-background-color:	$grey-darker;


$modal-card-head-background-color: $dark;
$modal-background-background-color: transparent;
$modal-card-title-color: $grey-light;

$table-sticky-header-height: inherit;
