@import '_variables.scss';
@import '~bulma/bulma';
@import '_overrides.scss';
@import '~buefy/src/scss/buefy';

//@import '~vue-draggable-resizable/dist/VueDraggableResizable.css';

.transparent-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.short-field {
  width: 60%;
}

.shorter-field {
  width: 30%;
}

.shortest-field {
  width: 15%;
}

.field-label {   
  flex-grow: 2; 
}

.icn-spinner {
  animation: spin-animation 0.7s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.b-table .table tr.detail {
  background: $grey-darker;
}

//fix unwanted outline on tabs
.tab-item:focus {
    outline: none;
}
[role=tabpanel]:focus { 
    outline: none; 
}


//vue draggable
.vdr {
  touch-action: none;
  position: absolute;
  box-sizing: border-box;
}
.handle {
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #EEE;
  border: 1px solid #333;
}

.handle-br {
  bottom: -10px;
  right: -10px;
  cursor: se-resize;
}
@media only screen and (max-width: 768px) {
  [class*="handle-"]:before {
    content: '';
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    position: absolute;
  }
}



