@import '_variables.scss';
@import '~bulma/bulma';
@import '_overrides.scss';
@import '~buefy/src/scss/buefy';


.transparent-button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.short-field {
  width: 60%;
}

.shorter-field {
  width: 30%;
}

.shortest-field {
  width: 15%;
}

.field-label {   
  flex-grow: 2; 
}

.icn-spinner {
  animation: spin-animation 0.7s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.b-table .table tr.detail {
  background: $grey-darker;
}